@use 'variaveis';

body {
  background-color: variaveis.$corPrincipal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  overflow-x: hidden;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
header,
footer {
  background: variaveis.$corSecundaria;
  padding-top: 16px;
  color: #fff;
}
header > .container,
footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  background-color: #f7b731;
  padding: 16px 0;
  display: none;
}
nav li {
  list-style: none;
  display: inline;
  margin-right: 16px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
nav li a {
  color: #fff;
  text-decoration: none;
}
.menu-hamburguer {
  width: 32px;
  cursor: pointer;
}
.menu-hamburguer span {
  height: 2px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
}

#carousel-imagem {
  max-width: 100%;
}
#fofinhos {
  padding-top: 150px;
}
.container-flex {
  display: flex;
}
#sobre-os-animais {
  padding-top: 150px;
}
#sobre-os-animais img {
  max-width: 400px;
  margin-right: 24px;
}
.carousel-imagem {
  display: none;
  width: 50vh;
}
section {
  padding: 48px 0;
}
sectio h2 {
  margin-bottom: 16px;
}
.lista-animais {
  flex-wrap: wrap;
}
.lista-animais li {
  list-style: none;
  max-width: 30%;
  margin-bottom: 24px;
}
.lista-animais li img {
  max-width: 100%;
}
.lista-animais li h3 {
  margin: 16px 0;
}

.item-central {
  margin: 0 5%;
}
button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: variaveis.$CorBotao;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  border-radius: 6px;
}
.price {
  margin: 16px 0;
  display: block;
}
.price del {
  color: #ccc;
  font-size: 14px;
}
.form-campo {
  margin-bottom: 16px;
}
.form-campo label {
  font-weight: bold;
  display: block;
}
.form-campo input,
.form-campo textarea {
  width: 100%;
  display: block;
  padding: 8px;
}
.form-campo textarea {
  resize: none;
  height: 120px;
}
#contato {
  margin-bottom: 150px;
}

form {
  max-width: 360px;
}
form button {
  max-width: 120px;
}

footer li {
  list-style: none;
  margin-left: 16px;
}
footer li img {
  height: 32px;
}
